* {
  margin: 0;
  padding: 0;
}
.cont {
  display: flex;
  gap: 10px;
  border: 1px solid grey;
}

.cont nav{
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: black;
 }

.cont nav img{
  
}

.class-container {
  display: flex;
}

.class-container .card img{
  width: 200px;
}

.card {
  border: 1px solid grey;
  background-color: brown;
  width: 200px;
  color: black;
  text-decoration: none;
  padding: 10px;
}
.card .note{
  text-align: center;
}
nav  a{
  text-decoration: none;
  color: black;
}

.class-container a{
  text-decoration: none;
}
.class-container2 img{
  width: 200px;
 height: 200px;
}
.class-container2 a{
  text-decoration: non;
}
