* {
  margin: 0;
  padding: 0;
}

.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
  border: 1px solid grey;
  border-radius: 20px;
  width: 400px;
  box-shadow: 15px 15px 30px grey;
  overflow: hidden;
}
.card .note {
  padding: 0px 20px;
}
.card-container .card .menu{
    color: aliceblue;
    position: relative;
    top: -20px;
    left: 0;

}

.card-container a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.card-container a:hover .card .menu{
    top: 30px;
}

.card img {
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card .note p {
  margin-bottom: 20px;
}
.card .like{
    display: flex;

}
.card .note .like p{
    margin-right: 10px;

}
