nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover {
  color: rgb(175, 170, 170);
  scale: 1.5;
}



/* main bopdy */