*{
    margin: 0px;
    padding:0px;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 20px;
    width: 350px;
    box-shadow:5px 5px 10px grey;
}
.card-container i{
     color: rgb(1, 6, 10);
    position: relative;
    
    

}
.card-container img{
    width: 350px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card1{
    padding: 10px;
    margin:5px ;
    color: black;
    text-decoration: none;
    
}

.card-container a{
    text-decoration: none;
}
.card-container a:hover .i{
    top: 20px;
}
